@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
 
/* *{
    border-color: #83d244;
    border-width: 1px;
    border-style: solid;
} */
:root{
    --white: #f9f9f9;
    --black: #36383F;
} /* variables*/
 
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Header */
.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    height: 73px;
}

.logoPicture {
    width: 95px;
    height: 47px;
    margin-top: 15px;
    margin-left: 5%;
    left: 03.38%;
}
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
 
}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */
 
.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
 
} /* Style span tag */
 
.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
 
.side-menu {
    display: none;
} /* Hide checkbox */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* .Wrap {
    max-width: 1366px;
    margin: 0 auto;
   }
   
   .WrapMiddle {
    width: 100%;
    height: 800px;
    font-size: 0;
   } */

/* .WrapMiddle {
    width: 85.375rem;
    height: 283.5625rem;
    font-size: 0;
   } */
   /* .Left {
    height: 287.3175rem;
    width: 06.14%;
    margin-top: 0.5%;
    background-color: #03a66a;
    display: inline-block;
   } */
   /* .Middle {
    height: 36rem;
    width: 76.72%;
    margin-top: 0.5%;
    margin-left: 06.14%;
    margin-right: 15.22%;
    display: inline-block;
   } */
.block1 {
    float: left;
    width: 40%;
    height: auto;
    margin-top: 5%;
    margin-left: 10%;
    background-color: #FFFFFF;
}
.mainPicture {
    width: 90%;
    height: auto;
    margin-left: 10%;
    border-radius: 39px;
}
.img1 {
    width: 15%;
    margin-top: 18px;
    margin-left: 15%;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 0.2px solid #faf7f7cc;
}
.img1:hover {
    border-color: #EF1212CC;
}
.img2 {
    width: 15%;
    margin-top: 18px;
    margin-left: 8px;
    flex-shrink: 0;
    border: 0.2px solid #faf7f7cc;
}
.img2:hover {
    border-color: #EF1212CC;
}
.img3 {
    width: 15%;
    margin-top: 18px;
    margin-left: 8px;
    flex-shrink: 0;
    background-color: #FFF;
    border: 0.2px solid #faf7f7cc;
}
.img3:hover {
    border-color: #EF1212CC;
}
.img4 {
    width: 15%;
    margin-top: 18px;
    margin-left: 8px;
    flex-shrink: 0;
    border: 0.2px solid #faf7f7cc;
}
.img4:hover {
    border-color: #EF1212CC;
}

.block2 {
    float: right;
    width: 40%;
    height: auto;
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 8%;
    background-color: #FFFFFF;
}

.btn1 {
    margin-left: 5px;
    background-color: #0088cc;
    border: none;
    color: white;
    padding: 13px 17px;
    font-size: 16px;
    cursor: pointer;
}
.btn1:hover {
    background-color: RoyalBlue;
}
.productName {
    color: #000;
    font-family: "Varela";
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 40px;
}
.price {
    margin-top: 30px;
    color: #000;
    font-family: "Varela";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.price:hover {
    color: #EF1212CC;
}
.size {
    margin-top: 30px;
    color: #000;
    font-family: "Varela";
    font-size: 24px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}

.btn2 {
    width: 45px;
    height: 30px;
    margin-top: 18px;
    margin-left: 5px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(116, 115, 115, 0.70);
    background: #FFF;
}
.btn2:hover {
    color: rgba(239, 18, 18, 0.80);
    border-color: #EF1212CC;
}
.color {
    margin-top: 30px;
    color: #000;
    font-family: "Varela";
    font-size: 24px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}
.colorImage {
    width: 76px;
    height: 70px;
    margin-top: 15px;
    margin-left: 5px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 0.2px solid #faf7f7cc;
}
.colorImage:hover {
    border-radius: 20px;
    border-color: #EF1212CC;
}
/* .blue {
    width: 76px;
    height: 70px;
    margin-top: 15px;
    margin-left: 1%;
    flex-shrink: 0;
    border-radius: 14px;
    border: 0.2px solid #faf7f7cc;
}
.blue:hover {
    border-color: #EF1212CC;
} */

.block3 {
    float: right;
    width: 40%;
    height: auto;
    margin-left: 2%;
    margin-right: 8%;
}
.btn3 {
    float: left;
    margin-top: 3%;
    background-color: #0088cc;
    border: none;
    color: white;
    padding: 17px 21px;
    font-size: 22px;
    cursor: pointer;
}
.btn3:hover {
    background-color: RoyalBlue;
}
.fa-basket:before {
    content:"\f291";
}
.middle-footer {
    width: 100%;
    height: auto;
    margin-right: 15.22%;
    display: inline-block;
    background-color: #FFFFFF;
}
.description {
    margin-top: 1rem;
    text-align: center;
    color: #000;
    font-family: "Varela";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 
.mainText {
    margin-top: 0.5rem;
    color: #000;
    text-align: center;
    font-family: "Varela";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 114%; /* 27.36px */
    letter-spacing: -0.72px;
}
.information {
    color: #000;
    font-family: "Varela";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 3rem;
    text-align: center;
}
.productInformation {
    width: 50%;
    height: auto;
    flex-shrink: 0;
    margin-top: 25px;
    margin-left: 18%;
}

.productInformationPicture {
    width: 13%;
    height: auto;
    flex-shrink: 0;
    border: 1px solid #FFFCFC;
    margin-top: 25px;
    margin-left: 00.95%;
}
.sizeChartText {
    color: #000;
    font-family: "Varela";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
    margin-top: 30px;
    text-align: center;
}
.sizeChart {
    width: 60%;
    height: auto;
    margin-top: 1.5rem;
    margin-left: 20%;
    flex-shrink: 0;
    margin-top: 30px;
}
.twoColors {
    width: 60%;
    margin-top: 1rem;
    margin-left: 20%;
}
.proportionalChartText {
    color: #000;
    font-family: "Varela";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;   
    margin-top: 30px;
    text-align: center;
}
.proportionalChart {
    width: 60%;
    margin-top: 1.5rem;
    margin-left: 20%;
}
.mainText2 {
    color: #2B2A2A;
    text-align: center;
    font-family: Varela;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 124%; /* 29.76px */
    margin-top: 60px;
    text-align: center;
}
.frontAndBackViews {
    width: 60%;
    flex-shrink: 0;
    margin-top: 42px;
    margin-left: 20%;
}
.text1 {
    float: left;
    color: #9E9F9D;
    font-family: "Varela";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
    margin-left: 20%;
}
.text2 {
    float: right;
    color: #9E9F9D;
    font-family: "Varela";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
    margin-right: 20%;
}
.clothingDetailsText {
    color: #000;
    font-family: Varela;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 80px;
    text-align: center;
}
/* .detailspictures {
    margin-top: 3rem;
    margin-left: 2rem;
} */
.leftPicture {
    float: left;
    margin-top: 3rem;
    margin-left: 20%;
    width: 30%;
    height: auto;
    flex-shrink: 0;
}
.rightPicture {
    float: right;
    margin-top: 3rem;
    margin-right: 15%;
    width: 30%;
    height: auto;
    flex-shrink: 0;
} 

.tabelDesc{
    margin: 20px 0px 0px 25%;
    width: 50%;
    float: center;
    border: 1px solid #1b1b1b;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.tabelDesc2 {
    margin: 20px 0px 0px 25%;
    width: 50%;
    float: center;
    border: 1px solid #000;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.tabelDesc3 {
    margin: 20px 0px 0px 25%;
    width: 50%;
    float: center;
    border: 1px solid #000;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
tr,td,th,tbody{
    border: 1px solid #000;
    padding: 5px 10px 5px 10px;
    text-align: center;
}
.footPicture {
    margin-top: 1rem;
    margin-left: 20%;
    width: 65%;
    flex-shrink: 0;
}
.Footer {
    width: 100%;
    height: 15rem;
    margin-top: 2%;
    background-color: #4D4B4B;
    flex-shrink: 0;
}
.footer-left {
    margin-top: 1%;
    margin-left: 2%;
    text-align: left;
    float: left;
    font-family: "Varela";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color:#FFFFFF;
}
.footer-right {
    margin-top: 1%;
    margin-right: 2%;
    text-align: right;
    float: right;
    font-family: "Varela";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color:#FFFFFF;
}
.footer-centered {
    margin-top: 1%;
    text-align: center;
    font-family: "Varela";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color:#FFFFFF;
}
.logoPicture2 {
    width: 95px;
    height: 47px;
    margin-left: 2%;
    margin-top: 1%;
    color: #FFF;
    font-size: 40px;
    font-family: "Varela";
    font-style: normal;
    font-weight: 550;
    text-decoration-color: #f9f9f9;
}
