@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);
 
    }
 
    .hamb{
        display: none;
    }
}

/* Мудия запрос для экранов с шириной до 760px */
@media (max-width: 760px) {
    
    .block1 {
        width: 55%;
        margin-left: 0;
    }
    .mainPicture {
        width: 90%;
        margin-left: 5%;
        border: none;
    }
    .block2 {
        width: 40%;
        margin-top: 4%;
        margin-right: 0;
    }
    .btn1 {
        display: none;
    }
    .productName {
        margin-top: 0;
    }
    .price {
        margin-top: 7%;
    }
    .size {
        margin-top: 7%;
    }
    .color {
        margin-top: 7%;
    }
    .block3 {
        width: 40%;
        margin-top: 4%;
        margin-right: 0;
    }
    .btn3 {
        margin-right: 2%;
    }
    .information {
        margin-top: 10%;
    }
    .tabelDesc {
        font-size: 16px;
    }
    .tabelDesc2 {
        font-size: 16px;
        margin: 20px 0px 0px 20%;
    }
    .tabelDesc3 {
        font-size: 16px;
    }
    .productInformation  {
        margin-top: 4%;
    }
    .footer-left {
        display: none;
    }

}

@media (max-width: 400px) {
    .block1 {
        width: 100%;
    }
    .mainPicture {
        width: 90%;
        margin-left: 5%;
    }
    .img1 {
        display: none;
    }
    .img2 {
        display: none;
    }
    .img3 {
        display: none;
    }
    .img4 {
        display: none;
    }
    .block2 {
        width: 100%;
    }
    .productName {
        width: 100%;
        font-size: 24px;
        font-weight: 550;
        margin-top: 3%;
        margin-left: 5%;
    }
    .price {
        font-size: 24px;
        font-weight: 550;
        margin-top: 3%;
        margin-left: 5%;
    }
    .size {
        font-size: 24px;
        font-weight: 400;
        margin-top: 3%;
        margin-left: 5%;
    }
    .btn2 {
        width: 10%;
        margin-top: 2%;
        margin-left: 2%;
    }
    .color {
        font-size: 24px;
        font-weight: 400;
        margin-top: 3%;
        margin-left: 5%;
    }
    .sizeChartText {
        display: none;
    }
    .tabelDesc2 {
        display: none;
    }
    .tabelDesc3 {
        margin: 20px 0px 0px 7%;
    }
    .white {
        margin-left: 5%;
    }
    .blue {
        margin-left: 2%;
    }
    .block3 {
        width: 100%;
        margin-top: 5%;
    }
    .btn3 {
        width: 90%;
        margin-left: 5%;
    }
    .description {
        font-size: 30px;
    }
    .mainText {
        font-size: 20px;
    }
    .information {
        font-size: 24px;
    }
    .productInformation {
        width: 70%;
        margin-top: 2%;
        margin-left: 5%;
    }
    .productInformationPicture {
        width: 17%;
        margin-top: 2%;
        margin-left: 00.95%;
    }
    .sizeChartText {
        font-size: 30px;
        margin-top: 3%;
    }
    .sizeChart {
        width: 80%;
        margin-top: 3%;
        margin-left: 10%;
    }
    .twoColors {
        width: 80%;
        margin-top: 1%;
        margin-left: 10%;
    }
    .proportionalChartText {
        font-size: 24px;
        margin-top: 1%;
    }
    .proportionalChart {
        width: 80%;
        margin-top: 3%;
        margin-left: 10%;
    }
    .mainText2 {
        font-size: 20px;
        margin-top: 3%;
        margin-left: 5%;
    }
    .frontAndBackViews {
        width: 80%;
        margin-top: 2%;
        margin-left: 10%;
    }
    .text1 {
        font-size: 20px;
        margin-left: 12%;
    }
    .text2 {
        font-size: 20px;
        margin-right: 13%;
    }
    .clothingDetailsText {
        font-size: 24px;
        margin-top: 8%;
    } 
    .leftPicture {
        margin-top: 2%;
        margin-left: 10%;
        width: 40%;
    }
    .rightPicture {
        margin-top: 3%;
        margin-right: 10%;
        width: 40%;
    } 
    .footPicture {
        margin-top: 1%;
        margin-left: 10%;
        width: 80%;
    }
    .Footer {
        height: 20rem;
        margin-top: 3%;
    }
    .logoPicture2 {
        float: center;
        width: 30%;
        margin-left: 35%;
        margin-top: 3%;
    }
    .footer-left {
        display: none;
    }
    .footer-right {
        text-align: center;
        margin-top: 2%;
        margin-right: 30%;
        margin-left: 15%;
        font-size: 20px;
    }
    .footer-centered {
        text-align: center;
        font-size: 20px;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        font-family: "Varela";
        font-style: normal;
        font-weight: 400;
        color: cadetblue;
    }
    

}