@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);
 
    }
 
    .hamb{
        display: none;
    }
}

@media (max-width: 364px) {
    .h1 {
        text-align: center;
        font-size: 26px;
        margin-left: 10%;
        font-weight: 500;
    }
    .h4 {
        font-size: 16px;
        margin-top: 25px;
        margin-left: 2%;
        font-weight: 400;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .box1 {
        width: 70%;
    } 
    .h3 {
        font-size: 16px;
        font-weight: 400;
    }
    .box2 {
        display: inline-block;
        text-align: center;
        color: #000;
        font-family: Varela;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 164.352%;
    }
    .Footer {
        height: 20rem;
        margin-top: 3%;
    }
    .logoPicture2 {
        float: center;
        width: 30%;
        margin-left: 35%;
        margin-top: 3%;
    }
    .footer-left {
        display: none;
    }
    .footer-right {
        text-align: center;
        margin-top: 2%;
        margin-right: 25%;
        margin-left: 15%;
        font-size: 20px;
    }
    .footer-centered {
        text-align: center;
        font-size: 20px;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        font-family: "Varela";
        font-style: normal;
        font-weight: 400;
        color: cadetblue;
    }
}