@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
 
:root{
    --white: #f9f9f9;
    --black: #36383F;
} /* variables*/
 
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Header */
.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    height: 73px;
}

.logoPicture {
    width: 95px;
    height: 47px;
    margin-top: 15px;
    margin-left: 5%;
    left: 03.38%;
}
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
 
}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */
 
.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
 
} /* Style span tag */
 
.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
 
.side-menu {
    display: none;
} /* Hide checkbox */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);
 
    }
 
    .hamb{
        display: none;
    }
}
.block {
    margin-left: 1%;
    margin-right: 1%;
}
.h1 {
    margin-top: 30px;
}
.h4 {
    margin-top: 10px;
    color:darkblue
}
h2 {
    margin-top: 10px;
}
/* .map {
    text-align: center;
} */
.Footer {
    height: 200px;
    width: 100%;
    background-color: #4D4B4B;
    margin-top: 30px;
}
.footer-left {
    margin-top: 2%;
    margin-left: 2%;
    text-align: left;
    float: left;
    font-family: "Varela";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:#FFFFFF;
}
.footer-right {
    margin-top: 2%;
    margin-right: 2%;
    text-align: right;
    float: right;
    font-family: "Varela";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:#FFFFFF;
}
.footer-centered {
    margin-top: 2%;
    text-align: center;
    font-family: "Varela";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:#FFFFFF;
}
.logoPicture2 {
    width: 05.63%;
    height: 03.65%;
    margin-left: 2%;
    margin-top: 1%;
}