@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
 
:root{
    --white: #f9f9f9;
    --black: #36383F;
} /* variables*/
 
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1366px;
    background-color: white;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Header */
.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    height: 73px;
}

.logoPicture {
    width: 95px;
    height: 47px;
    margin-top: 15px;
    margin-left: 5%;
    left: 03.38%;
}
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
 
}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */
 
.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
 
} /* Style span tag */
 
.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
 
.side-menu {
    display: none;
} /* Hide checkbox */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);
 
    }
 
    .hamb{
        display: none;
    }
}
.Wrap {
 max-width: 1300px;
 margin: 0 auto;
}

/* .WrapMiddle {
    width: 85.375rem;
    height: 283.5625rem;
    font-size: 0;
   } */
   /* .Left {
    height: 287.3175rem;
    width: 06.14%;
    margin-top: 0.5%;
    background-color: #03a66a;
    display: inline-block;
   } */
   /* .Middle {
    height: 36rem;
    width: 76.72%;
    margin-top: 0.5%;
    margin-left: 06.14%;
    margin-right: 15.22%;
    display: inline-block;
   } */
.block1 {
    float: left;
    width: 44.4%;
    height: 607px;
    margin-top: 5%;
    background-color: #FFFFFF;
}
.mainPicture {
    width: 523px;
    height: 569px;
    flex-shrink: 0;
    margin-left: 30%;
    border-radius: 39px;
}

.block2 {
    float: right;
    width: 27.96%;
    height: 607px;
    margin-top: 5%;
    margin-right: 27%;
    background-color: #FFFFFF;
}

.btn1 {
    margin-left: 5px;
    background-color: #0088cc;
    border: none;
    color: white;
    padding: 13px 17px;
    font-size: 16px;
    cursor: pointer;
}
.btn1:hover {
    background-color: RoyalBlue;
}
.productName {
    color: #000;
    font-family: "Varela";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 33px;
}
.price {
    margin-top: 32px;
    color: #000;
    font-family: "Varela";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03rem;
}
.price:hover {
    color: #EF1212CC;
}
.size {
    margin-top: 34px;
    color: #000;
    font-family: "Varela";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.btn2 {
    width: 45px;
    height: 30px;
    margin-top: 18px;
    margin-left: 5px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(116, 115, 115, 0.70);
    background: #FFF;
}
.btn2:hover {
    color: rgba(239, 18, 18, 0.80);
    border-color: #EF1212CC;
}
.color {
    margin-top: 40px;
    color: #000;
    font-family: "Varela";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.white {
    width: 6.75rem;
    height: 6.375rem;
    margin-top: 15px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 0.2px solid #faf7f7cc;
}
.white:hover {
    border-color: #EF1212CC;
}
.blue {
    width: 6.75rem;
    height: 6.375rem;
    margin-top: 15px;
    margin-left: 02.49%;
    flex-shrink: 0;
    border-radius: 14px;
    border: 0.2px solid #faf7f7cc;
}
.blue:hover {
    border-color: #EF1212CC;
}
.buttonHolder {
    margin-top: 30px;
    margin-left: 5px;
    width: 300px;
}
.button {
    background-image: -webkit-linear-gradient(top,#f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 10%;
    box-shadow: 0px 4px 5px 0px #4c4c4c4d, inset 0px 4px 1px 1px white,inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float: left;
    height: 50px;
    margin: 0 15px 20px 0;
    position: relative;
    width: 60px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
.button:after {
    color: #e9e6e4;
    content: "";
    display: block;
    font-size: 20px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}
.minus:after{
    content: "\2014";
    left:21px;
    top:16px;
}
.number:after {
    content: "1";
    left: 27px;
    top: 16px;
}

.plus:after {
    content: "\271A";
    left: 22px;
    top: 15px;
}

.button2:hover {
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color: #0088cc;
}

.number:hover:after {
    color: #f99e4e;
    text-shadow: 0px 0px 6px #f99e4e;
}
.minus:hover:after {
    color: #eb2f2f;
    text-shadow: 0px 0px 6px #eb2f2f;
}
.plus:hover:after {
    color: #83d244;
    text-shadow: 0px 0px 6px #83d244;
}
.button:active {
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}
.button:active:after{
    color:#dbd2d2;
    text-shadow: 0px 1px 1px #bdb5b4, 0px 1px 1px white;
}

.block3 {
    float: left;
    width: 44.4%;
    height: 169px;
}
.img1 {
    width: 6.875rem;
    height: 6.5rem;
    margin-top: 18px;
    margin-left: 32%;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 0.2px solid #faf7f7cc;
}
.img1:hover {
    border-color: #EF1212CC;
}
.img2 {
    width: 6.875rem;
    height: 6.5rem;
    margin-top: 18px;
    margin-left: 1rem;
    flex-shrink: 0;
    border: 0.2px solid #faf7f7cc;
}
.img2:hover {
    border-color: #EF1212CC;
}
.img3 {
    width: 6.875rem;
    height: 6.5rem;
    margin-top: 18px;
    margin-left: 1rem;
    flex-shrink: 0;
    background-color: #FFF;
    border: 0.2px solid #faf7f7cc;
}
.img3:hover {
    border-color: #EF1212CC;
}
.img4 {
    width: 6.875rem;
    height: 6.5rem;
    margin-top: 18px;
    margin-left: 1rem;
    flex-shrink: 0;
    border: 0.2px solid #faf7f7cc;
}
.img4:hover {
    border-color: #EF1212CC;
}
.block4 {
    float: right;
    width: 27.96%;
    height: 169px;
    margin-right: 20%;
}
.btn3 {
    float: left;
    margin-top: 18px;
    margin-left: 5px;
    background-color: #0088cc;
    border: none;
    color: white;
    padding: 13px 17px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.btn3:hover {
    background-color: RoyalBlue;
}
.fa-basket:before {
    content:"\f291";
}
.middle-footer {
    height: 230rem;
    width: 100%;
    margin-right: 15.22%;
    display: inline-block;
    background-color: #FFFFFF;
}
.description {
    margin-top: 1rem;
    margin-left: 45%;
    color: #000;
    font-family: "Varela";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 
.mainText {
    margin-top: 0.5rem;
    color: #000;
    text-align: center;
    font-family: "Varela";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 114%; /* 27.36px */
    letter-spacing: -0.72px;
}
.information {
    color: #000;
    font-family: "Varela";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 3rem;
    margin-left: 40%;
}
.productInformation {
    width: 643px;
    height: 184px;
    flex-shrink: 0;
    margin-top: 30px;
    margin-left: 20%;
}
.productInformationPicture {
    width: 193px;
    height: 207px;
    flex-shrink: 0;
    border: 1px solid #FFFCFC;
    margin-top: 30px;
    margin-left: 00.95%;
}
.sizeChartText {
    color: #000;
    font-family: "Varela";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
    margin-top: 3rem;
    margin-left: 40%;
}
.sizeChart {
    width: 934px;
    height: 337px;
    flex-shrink: 0;
    margin-top: 30px;
    margin-left: 20%;
}
.twoColors {
    width: 932px;
    height: 721px;
    flex-shrink: 0;
    margin-top: 1rem;
    margin-left: 20%;
}
.proportionalChartText {
    color: #000;
    font-family: "Varela";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;   
    margin-top: 3rem;
    margin-left: 33%;
}
.proportionalChart {
    width: 890px;
    height: 220.237px;
    flex-shrink: 0;
    margin-top: 1.5rem;
    margin-left: 20%;
}
.mainText2 {
    color: #2B2A2A;
    text-align: center;
    font-family: Varela;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 124%; /* 29.76px */
    margin-top: 60px;
    margin-right: 11.93%;
}
.frontAndBackViews {
    width: 892px;
    height: 435px;
    flex-shrink: 0;
    margin-top: 42px;
    margin-left: 20%;
}
.text1 {
    float: left;
    color: #9E9F9D;
    font-family: "Varela";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
    margin-left: 22.98%;
}
.text2 {
    float: right;
    color: #9E9F9D;
    font-family: Varela;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
    margin-right: 40%;
}
.clothingDetailsText {
    color: #000;
    font-family: Varela;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 80px;
    margin-left: 37%;
}
/* .detailspictures {
    margin-top: 3rem;
    margin-left: 2rem;
} */
.leftPicture {
    float: left;
    margin-top: 3rem;
    margin-left: 13%;
    width: 479px;
    height: 345px;
    flex-shrink: 0;
}
.rightPicture {
    float: right;
    margin-top: 3rem;
    margin-left: 00.80%;
    margin-right: 33%;
    width: 512px;
    height: 344px;
    flex-shrink: 0;
} 

.footPicture {
    margin-top: 1rem;
    margin-left: 13%;
    width: 1004px;
    height: 390px;
    flex-shrink: 0;
}
.Footer {
    width: 85.375rem;
    height: 13rem;
    margin-top: 0.5%;
    background-color: #4D4B4B;
    flex-shrink: 0;
}
.footer-left {
    margin-top: 1%;
    margin-left: 2%;
    text-align: left;
    float: left;
    font-family: "Varela";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:#FFFFFF;
}
.footer-right {
    margin-top: 1%;
    margin-right: 2%;
    text-align: right;
    float: right;
    font-family: "Varela";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:#FFFFFF;
}
.footer-centered {
    margin-top: 1%;
    text-align: center;
    font-family: "Varela";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:#FFFFFF;
}
.logoPicture2 {
    width: 05.63%;
    height: 03.65%;
    margin-left: 2%;
    margin-top: 1%;
}
